<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
<style type="text/css">
         @font-face{
            
            src:url('../fonts/BMJUA_ttf.ttf');
        }</style>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>보듬 관리자 페이지</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/clean-blog.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>

<body>    

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top" style="background-color: rgba(255,255,255,0.5);">
        <div class="container-fluid">
            
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/" style="color: black;">Bodeum</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">회원관리
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/mboard/mup">정보수정</a></li>
                            <li><a href="/mboard/list">정보삭제</a></li> 
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">시설관리
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/facil/create">정보추가</a></li>
                            <li><a href="/facil/up">정보수정</a></li>
                            <li><a href="/facil/del">정보삭제</a></li> 
                        </ul>
                    </li>
                    <li>
                        <a href="/comm/list" style="color: black;">커뮤니티관리</a>
                    </li>
                    <li>
                        <a href="/review/list" style="color: black; ">리뷰관리</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/bodeum2.jpg'); margin-bottom: 0px; height:500px;">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </header>


    <!-- Footer -->
    <footer style="padding-top: 15px; padding-bottom: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p class="copyright text-muted">Copyright &copy; bodeum</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>

</body>


</html>
